{% extends 'main.html'%}

{% block content %}
<style>
input[type='password'] {
  min-width: 24rem;
  width: 100%;
  padding: 1.2rem 1.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--color-light);
  transition: all 0.3s ease-in-out;
  background-color: var(--color-bg);
}


input[type='password']:focus,

input[type='password']:active,

select.input:focus,
select.input:active,
textarea.input:focus,
textarea.input:active {
  outline: none;
  border: 2px solid var(--color-main);
}
.auth {
  width: 100%;
  position: relative;
  z-index: 1;
  background: transparent;
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth::after {
  z-index: -1;
  opacity: 0.1;
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(../static/images/pattern.jpg);
}


</style>
<main class="formPage">
   <div  class="auth">
  <div class="content-box">
    <div class="formWrapper">
      <h1>Enter new password</h1>
       <br>
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
      <br>
      <br>

      <form class="form" method="post"  enctype="multipart/form-data">
        <!-- Input:Text -->
        {% csrf_token %}
        {{ form.as_p}}


        <input class="btn btn--sub btn--lg  my-md btn--shadow1" type="submit" value="Submit" />
      </form>
    </div>
  </div>
   </div>
</main>

{% endblock content %}