{% extends 'main.html'%}
{% block content %}
<style>
    .auth {
  width: 100%;
  position: relative;
  z-index: 1;
  background: transparent;
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth::after {
  z-index: -1;
  opacity: 0.1;
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(../images/pattern.jpg);
}

</style>
<main class="formPage ">
     <div class="auth">
  <div class="content-box">
    <div class="formWrapper">
      <h1>Password reset complete</h1>
       <br>
        <p>Your password has been set. You may go ahead and log in now.</p>
      <br>
        <a href="{% url 'login' %}">Login</a>

    </div>
  </div>
     </div>
</main>

{% endblock content %}